body {
  font-family: "Poppins", sans-serif !important;
}

.h2,
h2 {
  font-size: calc(1.325em + 0.9vw);
}

h2 {
  padding-bottom: 1.5rem;
}

/* HERO Section */
.hero {
  background-color: #1d2730;
  color: white;
}

ul.homepage-list li {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  line-height: 30px;
  list-style-type: none;
}

ul.homepage-list li img {
  margin-right: 5px;
  width: 20px !important;
  height: auto;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}
code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

ul.homepage-list li code {
  font-size: 1rem;
  color: #d63384;
  word-wrap: break-word;
  font-weight: 400;
  margin-left: 5px;
  text-transform: uppercase;
}

body .is-layout-flow > .aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}
/* HERO Section End */

/* TAB Section */
.casinos-tabs {
  width: 100%;
}

.best-casinos,
container-xxl {
  background-color: #f0f3f7;
}

.section-header-dark {
  background: #1d2730;
  display: flow-root;
}

.section-tabs-wrapper {
  border-bottom: 1px solid #dce3e8;
  height: 71px;
  position: relative;
}

cg-tabs-scrollable {
  /* height: 71px; */
  /* overflow-x: scroll; */
  position: relative;
  white-space: nowrap;
}

.cg-tabs-main {
  display: flex;
  justify-content: flex-start;
}

.section-tabs-wrapper .cg-tab-main.active,
.section-tabs-wrapper .cg-tab-main:hover {
  background: #f0f3f7;
}

.section-tabs {
  padding: 0 12px;
}

.cg-tabs-scrollable .cg-tab-main {
  min-width: 130px;
}

.casinos-tabs label img {
  height: 28px;
  width: 28px;
}

.cg-tab-main {
  align-items: center;
  background: #e3e7ef;
  border-left: 1px solid #cdd6dd;
  border-top: 1px solid #cdd6dd;
  color: #4a5b68;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-weight: 700;
  height: 70px;
  justify-content: center;
  max-width: 440px;
  padding: 0 5px;
  position: relative;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.cg-tab-main.active,
.cg-tab-main:hover {
  background: #f0f3f7;
  color: #44be4c;
}

.cg-tab-main.active {
  height: 71px;
}

.cg-tab-main:first-child {
  border-radius: 2px 0 0 0;
}

@media (min-width: 1200px) {
  .section-tabs {
    max-width: 1320px;
  }
  .cg-tabs-main {
    margin: auto;
    max-width: 1320px;
  }
}

@media (min-width: 768px) {
  .section-tabs-wrapper {
    overflow-x: visible;
  }
  .section-tabs {
    margin: auto;
  }
  .cg-tabs-scrollable {
    height: 70px;
    overflow-x: visible;
    padding-left: 0;
  }
  .cg-tab-main {
    font-family: neo-sans, sans-serif;
  }
}

@media (min-width: 568px) {
  .cg-tab-main {
    font-size: 14px;
    line-height: 17px;
    text-transform: none;
  }
}

/* LOGIC to switch tabs */
.content-body {
  display: none;
}
.show-active {
  display: block;
  /* adding fade-away effect we set bellow */
  animation: fade 1s;
}
/* setting a fade-away effect */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* LOGIC to switch tabs End */
/* TAB Section End */

/* TAB CONTENT Section */
.style5-smg .item-el-a,
.style5-smg .list-item {
  display: flex;
}

.style5-smg .list-item {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
}

.bookmaker {
  border-bottom: 1px dotted #999;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.style5-smg .bookmaker {
  /* -webkit-box-orient: horizontal !important; */
  /* -webkit-box-direction: normal !important; */
  border: none;
  /* -ms-flex-direction: row !important; */
  flex-direction: row !important;
}

@media (max-width: 767px) {
  .style5-smg .item-el-a {
    min-width: 140px;
    width: 140px;
  }
}

.style5-smg .item-el-a {
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal; */
  /* -webkit-box-pack: center; */
  /* -ms-flex-pack: center; */
  border-radius: 15px 0 0 15px;
  /* -ms-flex-direction: column; */
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 20px 0 20px 20px;
  position: relative;
  z-index: 1;
}

.card_list.show-counter.style5-smg {
  counter-reset: counter;
}

.card_list.show-counter.style5-smg .list-counter {
  counter-increment: counter;
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
}

.card_list.show-counter.style5-smg .list-counter::before {
  content: counter(counter);
}

.card_list.style5-smg .list-counter:before {
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  -webkit-box-pack: center;
  /* -ms-flex-pack: center; */
  align-items: center;
  background: hsla(0, 0%, 100%, 0.6);
  border-radius: 15px 0 15px 0;
  color: #020316;
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  min-width: 35px;
  padding: 3px;
  text-align: center;
}

/* CARD's LOGO Section */
.style5-smg .list-logo {
  /* -webkit-box-align: center; */
  /* -ms-flex-align: center; */
  /* -webkit-box-pack: center; */
  /* -ms-flex-pack: center; */
  align-items: center;
  /* display: block; */
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  justify-content: center;
  min-height: 80px;
}

.style5-smg .list-logo img {
  max-width: 100%;
  max-height: 80px;
}

@media (min-width: 1025px) {
  .style5-smg .item-el-a .list-rating,
  .style5-smg .item-el-a .list-stars,
  .style5-smg .item-el-a .list-users {
    display: none;
  }
}

.style5-smg .item-el-a .list-rating-nr {
  color: #fff;
  font-size: 21px;
  font-weight: 600;
}

.style5-smg .item-el-a .list-users {
  color: #fff;
  font-size: 12px;
}

.style5-smg .item-el-a .list-stars {
  max-width: 100px;
}

.style5-smg .list-skew {
  left: -35px;
  margin-left: -30px;
  min-height: 100%;
  position: relative;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  width: 100px;
}

@media (min-width: 375px) {
  .style5-smg .item-el-a {
    min-width: 150px;
  }
}

@media (min-width: 768px) {
  .style5-smg .item-el-a {
    min-width: 240px;
    width: 240px;
  }
}

/* CARD's LOGO Section End */

/* CARD's MIDDLE Section */
.style5-smg .item-el-b {
  -webkit-box-flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

@media (min-width: 768px) {
  .style5-smg .item-el-b {
    /* -webkit-box-align: center; */
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
    padding: 15px 20px 15px 0;
  }
}

@media (max-width: 767px) {
  .style5-smg .item-el-b {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    /* -ms-flex-pack: center; */
    /* -ms-flex-direction: column; */
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    padding: 15px 15px 15px 0;
  }
}

.style5-smg .item-el-b .list-bonus {
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  align-items: center;
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  -ms-flex: 1;
  flex: 1;
  font-size: 21px;
  font-weight: 600;
  height: 100%;
  letter-spacing: -0.5px;
  line-height: 1.3;
  text-align: center;
  word-break: break-word;
}

.style5-smg .item-el-b .list-bonus p {
  margin: 0;
  padding: 0;
  width: 100%;
}

.style5-smg .item-el-b .list-bonus span,
.style5-smg .item-el-b .list-bonus strong {
  color: #599e3c;
  font-size: 25px;
}

.style5-smg .item-el-b .list-rating,
.style5-smg .item-el-b .list-rating-nr {
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  align-items: center;
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
}

.style5-smg .item-el-b .list-rating {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  /* -ms-flex-direction: column; */
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 1024px) {
  .style5-smg .item-el-b .list-rating,
  .style5-smg .item-el-b .list-rating-nr {
    display: none !important;
  }
}

.style5-smg .item-el-b .list-stars {
  max-width: 150px;
}

.style5-smg .item-el-b .list-users {
  font-size: 14px;
}

/* NUMBER in the circle */
.style5-smg .item-el-b .list-rating-nr {
  -webkit-box-pack: center;
  /* -ms-flex-pack: center; */
  border: 1px solid #1c1c1c;
  border-radius: 50%;
  font-size: 45px;
  font-weight: 600;
  height: 90px;
  justify-content: center;
  width: 90px;
}

.style5-smg .item-el-b a.btn {
  background-color: #599e3c;
  border: none;
  border-radius: 10px !important;
  padding: 10px;
  text-transform: capitalize !important;
  width: 210px;
}

@media (max-width: 767px) {
  .style5-smg .item-el-b a.btn {
    width: 100%;
  }
}

/* CARD's MIDDLE Section End */
/* TAB CONTENT Section End */

/* INFO Section */
.wp-block-cover,
.wp-block-cover-image {
  align-items: center;
  background-position: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 430px;
  padding: 1em;
  position: relative;
}

.wp-block-cover
  .wp-block-cover__background.has-background-dim.has-background-dim-100,
.wp-block-cover
  .wp-block-cover__gradient-background.has-background-dim.has-background-dim-100,
.wp-block-cover-image
  .wp-block-cover__background.has-background-dim.has-background-dim-100,
.wp-block-cover-image
  .wp-block-cover__gradient-background.has-background-dim.has-background-dim-100 {
  opacity: 1;
}

.wp-block-cover .wp-block-cover__background,
.wp-block-cover .wp-block-cover__gradient-background,
.wp-block-cover-image .wp-block-cover__background,
.wp-block-cover-image .wp-block-cover__gradient-background,
.wp-block-cover-image.has-background-dim:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim:not(.has-background-gradient):before {
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.has-cyan-bluish-gray-background-color {
  background-color: #abb8c3 !important;
}

.wp-block-cover-image.is-light .wp-block-cover__inner-container,
.wp-block-cover.is-light .wp-block-cover__inner-container {
  color: #000;
}

.wp-block-cover .wp-block-cover__inner-container,
.wp-block-cover-image .wp-block-cover__inner-container {
  color: #fff;
  width: 100%;
  z-index: 1;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.wp-block-columns {
  align-items: normal !important;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap !important;
  margin-bottom: 1.75em;
}

@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap !important;
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column[style*="flex-basis"] {
    flex-grow: 0;
  }
}

@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 100% !important;
  }
}

.wp-block-column.is-vertically-aligned-center {
  align-self: center;
}

body .is-layout-flex {
  gap: 24px;
}

figure {
  margin: 0 !important;
}

.wp-block-image .aligncenter,
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image.aligncenter,
.wp-block-image.alignleft,
.wp-block-image.alignright {
  display: table;
}

.wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
/* INFO Section End */

/* FOOTER Section */
footer {
  background-color: #1d2730;
  color: #cdd6dd;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

.wp-container-18.wp-container-18 {
  justify-content: space-between;
}

body .is-layout-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

body .is-layout-flex > * {
  margin: 0;
}

/* SOCIAL Links */
/* FACEBOOK */
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook {
  background-color: #1778f2;
  color: #fff;
}

.wp-block-social-link {
  border-radius: 9999px;
  display: block;
  height: auto;
  transition: transform 0.1s ease;
}

.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor,
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor svg,
.wp-block-social-links
  .wp-block-social-link
  .wp-block-social-link-anchor:active,
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:hover,
.wp-block-social-links
  .wp-block-social-link
  .wp-block-social-link-anchor:visited {
  fill: currentColor;
  color: currentColor;
}

.wp-block-social-links .wp-social-link a {
  padding: 0.3em;
}

.wp-block-social-links .wp-social-link a,
.wp-block-social-links .wp-social-link a:hover {
  border-bottom: 0;
  box-shadow: none;
  text-decoration: none;
}

.wp-block-social-link a {
  align-items: center;
  display: flex;
  line-height: 0;
  transition: transform 0.1s ease;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal !important;
  border: 0;
  /* -webkit-clip-path: inset(50%); */
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* TWITTER */
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter {
  background-color: #1da1f2;
  color: #fff;
}

/* YOUTUBE */
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-youtube {
  background-color: red;
  color: #fff;
}

/* INSTAGRAM */
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram {
  background-color: #f00075;
  color: #fff;
}

/* NEWSLETTER Section */
.subscription-form form {
  margin: auto auto 20px;
  max-width: 620px;
  padding-left: 16px;
  padding-right: 16px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.text-field {
  /* -ms-flex-preferred-size: 100%; */
  /* flex-basis: 100%; */
  width: auto;
}

@media (min-width: 568px) {
  .subscription-form form .content {
    float: left;
    width: 80%;
  }
  .text-field {
    margin-right: 8px;
  }
}

.subscription-form form h5 {
  color: #a2aeb7;
  display: block;
  font-family: Noto Sans, Sans-Serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin: 16px 0 8px;
  text-transform: uppercase;
}

.subscription-form form input[type="email"],
.subscription-form form input[type="text"] {
  /* background: rgba(123, 140, 152, 0.1); */
  border-color: #4a5b68;
  border-radius: 2px;
  color: #7b8c98;
  font-size: 16px;
  margin: 0;
  min-height: 50px;
  padding: 15px;
  position: relative;
  width: 100%;
  z-index: 2;
}

/* I am 18 */
.subscription-form form .wp-block-smg-addon-form-checkbox {
  margin-top: 15px;
}

.subscription-form
  form
  .wp-block-smg-addon-form-checkbox
  input[type="checkbox"] {
  margin-right: 10px;
}

label {
  display: inline-block;
}
/* BUTTON */

.subscription-form form button {
  background: #44be4c;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-family: neo-sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  margin-top: 10px;
  padding: 10px 20px;
  white-space: nowrap;
  width: 100%;
}

@media (min-width: 568px) {
  .subscription-form form .act-btn {
    float: right;
    margin-top: 40px;
    width: 20%;
  }
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

@media (min-width: 568px) {
  .subscription-form form button {
    margin-top: 0;
    width: auto;
  }
}

.subscription-form form button {
  background: #44be4c;
  border: 0;
  border-radius: 2px;
  color: #fff;
  /* cursor: pointer; */
  font-family: neo-sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  /* margin-top: 10px; */
  padding: 10px 20px;
  white-space: nowrap;
  /* width: 100%; */
}
/* NEWSLETTER Section End */

.subscription-form form .clear {
  clear: both;
}

footer .h5,
footer h5 {
  color: #a2aeb7;
  display: block;
  font-family: Noto Sans, Sans-Serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin: 16px 0 8px;
  text-transform: uppercase;
}

body .is-layout-constrained > * + * {
  margin-block-start: 24px;
  margin-block-end: 0;
}

/* FOOTER Section End */
